{
  "extends": ["eslint:recommended"],
  "env": {
    "node": true,
    "mocha": true
   },
   "ecmaFeatures": {
     "es6": false
   },
   "plugins": [
   ],
   "rules": {
     "no-console":0,
     "indent": [
       "error",
        2
      ],
    "quotes": [
      "error",
      "single"
    ],
    "semi": [
      "error",
      "always"
    ]
   }
}