.dockerignore
.editorconfig
.eslintignore
.eslintrc
.gitignore
.npmignore
.prettierignore
.prettierrc.json
docker-compose.yml
Dockerfile
jest.config.ts
tsconfig.ts
CHANGELOG.md
CODE-OF-CONDUCT.md
CONTRIBUTING.md
tsconfig.json
.vscode/
.github/
coverage/
node_modules/
src/
tests/